
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/_about.scss")
@Scripts.Render("~/bundles/modernizr")
<br /><br /><br /><br /><br /><br />



<div class="container">
    <div class="row about_inner">
        <div class="col-lg-6">
            <div class="about_img">
                <img class="img-fluid" src="~/Content/images/logo23(1).png">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about_right_text">

                <br /><br /><br /><br /><br />
                <h2>Pettey ช่วยคุณได้</h2>
                <p>เพียงแค่คุณลงทะเบียนและนำสินค้าของคุณ สัตว์เลี้ยง มาลงขายบนแพลตฟอร์มของเรา เพียงเท่าคุณจะสามารถมีร้านค้าเป็นของตัวเอง และมีรายได้เพิ่มจากการขายสินค้าจากหน้าร้าน และเรามีสินค้าให้เลือกมากมาย หลากหลายประเภท ตั้งแต่  สัตว์เลี้ยง อาหารสัตว์ สินค้าแฟชั่นสำหรับสัตว์เลี้ยง คอร์สฝึกสัตว์เลี้ยง และอีกมากมาย  รวมไว้ให้คุณเลือกในที่เดียว  ให้คุณได้เลือกสินค้าได้ง่ายๆตามความต้องการ สะดวก ประหยัดเวลา และยังมีบริการจัดส่งให้คุณถึงที่บ้าน</p>

            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />

<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <center>
                <h4>Pettey </h4><br /><br />

                <p>
                    หากคุณเป็นคนหนึ่งที่…ต้องการขายสัตว์เลี้ยง อยากหารายได้เพิ่ม <br /><br />
                    อยากมีร้านค้าเป็นของตัวเอง ไม่รู้จะเริ่มยังไง<br /><br />
                    อยากซื้อสัตว์เลี้ยงแต่ไม่สะดวกเดินทางไปที่ร้านเอง<br /><br />
                    อยากซื้อสินค้าแต่การเดินทางแสนจะลำบาก<br /><br />
                </p>
            </center>
        </div>

        <br /><br /><br /><br />


    </div>
</section>
